## [Visual Studio / .NET]
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017/2019/2022 cache/options directory
.vs/
.root/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/

# Microsoft Azure Build Output
csx/
*.jscfg
*.cscfg
*.csdef

# Others
Generated\ Files/
_Chm/
.ntvs_analysis.dat
node_modules/
Properties/launchSettings.json
.DS_Store
*.swp
*~
*.lock

# AppData Local Debugging
bin/
obj/
